[flake8]
max-line-length = 88
exclude = 
    migrations,
    venv,
    env,
    __pycache__,
    .git,
    .env,
    staticfiles,
    media,
    logs,
    *.pyc,
    manage.py
ignore = 
    E203,
    W503,
    E501,
    F401
per-file-ignores =
    __init__.py:F401
    migrations/*:E501

